<section class="border border-gray-200 shadow-xs rounded bg-gray-200 md:w-1/2 mt-5 p-4 mx-auto">
  <div class="title">
    <h2 class="mb-3 text-green-600 font-medium text-3xl text-center">Forgot Password</h2>
  </div>

  <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForgotPasswordForm()">
    <div class="mb-3">
      <label for="email" class="main-label">Email</label>
      <input 
        formControlName="email" 
        type="email" 
        id="email" 
        class="main-input" 
        placeholder="Enter your email address"
      />
      
      @let emailControl = forgotPasswordForm.get('email');
      
      @if (emailControl?.errors && emailControl?.touched) {
        <div class="flex px-3 py-2 mt-0.5 text-base text-red-800 rounded-xs bg-red-100" role="alert">
          <span class="sr-only">Danger</span>
          <div>
            <ul class="list-disc list-inside">
              @if (emailControl?.getError('required')) {
                <li>Email input is required</li>
              }
              @else if (emailControl?.getError('email')) {
                <li>Please enter valid email address</li>
              }
            </ul>
          </div>
        </div>
      }
    </div>

    <div class="flex flex-wrap justify-center mb-3">
      <button 
        [disabled]="isLoading()" 
        type="submit" 
        class="btn-main px-6 w-full"
      >
        Send Verification Code
        @if (isLoading()) {
          <span>
            <i class="fas fa-spinner animate-spin ml-2"></i>
          </span>
        }
      </button>
    </div>

    @if (successMessage()) {
      <div class="flex px-3 py-2 mt-0.5 text-base text-green-800 rounded-xs bg-green-100" role="alert">
        <span class="sr-only">Success</span>
        <p>{{ successMessage() }}</p>
      </div>
    }

    @if (errorMessage()) {
      <div class="flex px-3 py-2 mt-0.5 text-base text-red-800 rounded-xs bg-red-100" role="alert">
        <span class="sr-only">Danger</span>
        <p>{{ errorMessage() }}</p>
      </div>
    }

  </form>
</section>