<section class="border border-gray-200 shadow-xs rounded bg-gray-200 md:w-1/2 mt-5 p-4 mx-auto">
  <div class="title">
    <h2 class="mb-3 text-green-600 font-medium text-3xl text-center">Reset Your Password</h2>
  </div>

  <form [formGroup]="resetPasswordForm" (ngSubmit)="submitResetPasswordForm()">
    
    <div class="mb-3">
      <label for="email" class="main-label">Email</label>
      <input 
        formControlName="email" 
        type="email" 
        id="email" 
        class="main-input bg-gray-100" 
        readonly
      />
      
      @let emailControl = resetPasswordForm.get('email');
      
      @if (emailControl?.errors && emailControl?.touched) {
        <div class="flex px-3 py-2 mt-0.5 text-base text-red-800 rounded-xs bg-red-100" role="alert">
          <span class="sr-only">Danger</span>
          <div>
            <ul class="list-disc list-inside">
              @if (emailControl?.getError('required')) {
                <li>Email input is required</li>
              }
              @else if (emailControl?.getError('email')) {
                <li>Please enter valid email address</li>
              }
            </ul>
          </div>
        </div>
      }
    </div>

    <div class="mb-3 relative">
      @let passwordControl = resetPasswordForm.get('newPassword');
      
      <label for="newPassword" class="main-label">New Password</label>
      <input 
        formControlName="newPassword" 
        [type]="showPassword ? 'text' : 'password'" 
        id="newPassword" 
        class="main-input" 
        placeholder="Enter your new password"
      />
      
      <span 
        (click)="togglePasswordType()" 
        class="absolute top-0 end-2 translate-y-[130%] cursor-pointer"
      >
        <i 
          [class]="{
            'fa-eye': !showPassword,
            'fa-eye-slash': showPassword
          }"
          class="fas"
        ></i>
      </span>

      @if (passwordControl?.errors && passwordControl?.touched) {
        <div class="flex px-3 py-2 mt-0.5 text-base text-red-800 rounded-xs bg-red-100" role="alert">
          <span class="sr-only">Danger</span>
          <div>
            <ul class="list-disc list-inside">
              @if (passwordControl?.getError('required')) {
                <li>Password is required</li>
              }
              @else if (passwordControl?.getError('pattern')) {
                <li>
                  Password must be at least 8 characters, include uppercase,
                  lowercase, number and special character
                </li>
              }
            </ul>
          </div>
        </div>
      }
    </div>

    <div class="flex flex-wrap justify-center mb-3">
      <button 
        [disabled]="isLoading()" 
        type="submit" 
        class="btn-main px-6 w-full"
      >
        Reset Password
        @if (isLoading()) {
          <span>
            <i class="fas fa-spinner animate-spin ml-2"></i>
          </span>
        }
      </button>
    </div>

    @if (successMessage()) {
      <div class="flex px-3 py-2 mt-0.5 text-base text-green-800 rounded-xs bg-green-100" role="alert">
        <span class="sr-only">Success</span>
        <p>{{ successMessage() }}</p>
      </div>
    }

    @if (errorMessage()) {
      <div class="flex px-3 py-2 mt-0.5 text-base text-red-800 rounded-xs bg-red-100" role="alert">
        <span class="sr-only">Danger</span>
        <p>{{ errorMessage() }}</p>
      </div>
    }

    
  </form>
</section>